.elementor-52308 .elementor-element.elementor-element-300b43b5 > .elementor-container{max-width:1200px;}.elementor-52308 .elementor-element.elementor-element-300b43b5:not(.elementor-motion-effects-element-type-background), .elementor-52308 .elementor-element.elementor-element-300b43b5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#f6f6f6;}.elementor-52308 .elementor-element.elementor-element-300b43b5{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-5px;margin-bottom:-5px;padding:0px 0px 0px 0px;}.elementor-52308 .elementor-element.elementor-element-300b43b5 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-52308 .elementor-element.elementor-element-22c103ab > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-52308 .elementor-element.elementor-element-1cc3b2fd .elementor-menu-toggle{margin:0 auto;}.elementor-52308 .elementor-element.elementor-element-1cc3b2fd .elementor-nav-menu--main{font-family:"Open Sans", Sans-serif;font-size:12px;font-weight:bold;}.elementor-52308 .elementor-element.elementor-element-1cc3b2fd .elementor-nav-menu--main .elementor-item{color:#3d3d3d;padding-left:5px;padding-right:5px;}.elementor-52308 .elementor-element.elementor-element-1cc3b2fd .elementor-nav-menu--main .elementor-item:hover,
					.elementor-52308 .elementor-element.elementor-element-1cc3b2fd .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-52308 .elementor-element.elementor-element-1cc3b2fd .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-52308 .elementor-element.elementor-element-1cc3b2fd .elementor-nav-menu--main .elementor-item:focus{color:#0073dc;}.elementor-52308 .elementor-element.elementor-element-1cc3b2fd .e--pointer-framed .elementor-item:before{border-width:0px;}.elementor-52308 .elementor-element.elementor-element-1cc3b2fd .e--pointer-framed.e--animation-draw .elementor-item:before{border-width:0 0 0px 0px;}.elementor-52308 .elementor-element.elementor-element-1cc3b2fd .e--pointer-framed.e--animation-draw .elementor-item:after{border-width:0px 0px 0 0;}.elementor-52308 .elementor-element.elementor-element-1cc3b2fd .e--pointer-framed.e--animation-corners .elementor-item:before{border-width:0px 0 0 0px;}.elementor-52308 .elementor-element.elementor-element-1cc3b2fd .e--pointer-framed.e--animation-corners .elementor-item:after{border-width:0 0px 0px 0;}.elementor-52308 .elementor-element.elementor-element-1cc3b2fd .e--pointer-underline .elementor-item:after,
					 .elementor-52308 .elementor-element.elementor-element-1cc3b2fd .e--pointer-overline .elementor-item:before,
					 .elementor-52308 .elementor-element.elementor-element-1cc3b2fd .e--pointer-double-line .elementor-item:before,
					 .elementor-52308 .elementor-element.elementor-element-1cc3b2fd .e--pointer-double-line .elementor-item:after{height:0px;}body:not(.rtl) .elementor-52308 .elementor-element.elementor-element-1cc3b2fd .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child){margin-right:5px;}body.rtl .elementor-52308 .elementor-element.elementor-element-1cc3b2fd .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child){margin-left:5px;}.elementor-52308 .elementor-element.elementor-element-1cc3b2fd .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:5px;}.elementor-52308 .elementor-element.elementor-element-1cc3b2fd > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 5px 0px 0px;}.elementor-52308 .elementor-element.elementor-element-5c737015 > .elementor-container{max-width:1200px;}.elementor-52308 .elementor-element.elementor-element-5c737015:not(.elementor-motion-effects-element-type-background), .elementor-52308 .elementor-element.elementor-element-5c737015 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#1a1a1a;}.elementor-52308 .elementor-element.elementor-element-5c737015{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;z-index:11;}.elementor-52308 .elementor-element.elementor-element-5c737015 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-52308 .elementor-element.elementor-element-8a10e0e > .elementor-element-populated{padding:6px 0px 0px 16px;}.elementor-52308 .elementor-element.elementor-element-5e60e488 .elementor-menu-toggle{margin-left:auto;}.elementor-52308 .elementor-element.elementor-element-5e60e488 .elementor-nav-menu--main{font-family:"Open Sans", Sans-serif;font-size:14px;font-weight:bold;text-transform:uppercase;}body:not(.rtl) .elementor-52308 .elementor-element.elementor-element-5e60e488 .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child){margin-right:13px;}body.rtl .elementor-52308 .elementor-element.elementor-element-5e60e488 .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child){margin-left:13px;}.elementor-52308 .elementor-element.elementor-element-5e60e488 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:13px;}.elementor-52308 .elementor-element.elementor-element-5e60e488 .elementor-nav-menu--dropdown a, .elementor-52308 .elementor-element.elementor-element-5e60e488 .elementor-menu-toggle{color:#0073dc;}.elementor-52308 .elementor-element.elementor-element-5e60e488 .elementor-nav-menu--dropdown{background-color:#f4f6f7;font-family:"Open Sans", Sans-serif;font-size:13px;font-weight:600;text-transform:none;border-style:groove;border-width:0.5px 0.5px 0.5px 0.5px;border-color:#e2e2e2;}.elementor-52308 .elementor-element.elementor-element-5e60e488 .elementor-nav-menu--dropdown a:hover,
					.elementor-52308 .elementor-element.elementor-element-5e60e488 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-52308 .elementor-element.elementor-element-5e60e488 .elementor-nav-menu--dropdown a.highlighted,
					.elementor-52308 .elementor-element.elementor-element-5e60e488 .elementor-menu-toggle:hover{color:#0073dc;}.elementor-52308 .elementor-element.elementor-element-5e60e488 .elementor-nav-menu--dropdown a:hover,
					.elementor-52308 .elementor-element.elementor-element-5e60e488 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-52308 .elementor-element.elementor-element-5e60e488 .elementor-nav-menu--dropdown a.highlighted{background-color:#ffffff;}.elementor-52308 .elementor-element.elementor-element-5e60e488 .elementor-nav-menu--dropdown a{padding-left:30px;padding-right:30px;padding-top:10px;padding-bottom:10px;}.elementor-52308 .elementor-element.elementor-element-5e60e488 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-52308 .elementor-element.elementor-element-5e60e488 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:9px !important;}.elementor-52308 .elementor-element.elementor-element-5e60e488{z-index:6;}.elementor-52308 .elementor-element.elementor-element-d49f13b > .elementor-container{max-width:1200px;}.elementor-52308 .elementor-element.elementor-element-d49f13b:not(.elementor-motion-effects-element-type-background), .elementor-52308 .elementor-element.elementor-element-d49f13b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;}.elementor-52308 .elementor-element.elementor-element-d49f13b{box-shadow:0px 0px 4px 0px #636363;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;z-index:6;}.elementor-52308 .elementor-element.elementor-element-d49f13b > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-52308 .elementor-element.elementor-element-687807c3 > .elementor-element-populated{margin:0px 0px 0px 0px;}.elementor-52308 .elementor-element.elementor-element-618cabd4 a.elementor-button, .elementor-52308 .elementor-element.elementor-element-618cabd4 .elementor-button{font-family:"Open Sans", Sans-serif;font-size:24px;font-weight:600;text-transform:none;line-height:9px;letter-spacing:0px;fill:#4a4a4a;color:#4a4a4a;background-color:#ffffff;}.elementor-52308 .elementor-element.elementor-element-618cabd4 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-52308 .elementor-element.elementor-element-342dc736 a.elementor-button, .elementor-52308 .elementor-element.elementor-element-342dc736 .elementor-button{font-family:"Open Sans", Sans-serif;font-size:24px;font-weight:700;text-transform:none;line-height:10px;letter-spacing:0.21px;fill:#0073dc;color:#0073dc;background-color:#ffffff;}.elementor-52308 .elementor-element.elementor-element-7aaeb3d7 .elementor-search-form__container{min-height:30px;}.elementor-52308 .elementor-element.elementor-element-7aaeb3d7 .elementor-search-form__submit{min-width:30px;color:#949494;background-color:#ffffff;font-size:14px;}body:not(.rtl) .elementor-52308 .elementor-element.elementor-element-7aaeb3d7 .elementor-search-form__icon{padding-left:calc(30px / 3);}body.rtl .elementor-52308 .elementor-element.elementor-element-7aaeb3d7 .elementor-search-form__icon{padding-right:calc(30px / 3);}.elementor-52308 .elementor-element.elementor-element-7aaeb3d7 .elementor-search-form__input, .elementor-52308 .elementor-element.elementor-element-7aaeb3d7.elementor-search-form--button-type-text .elementor-search-form__submit{padding-left:calc(30px / 3);padding-right:calc(30px / 3);}.elementor-52308 .elementor-element.elementor-element-7aaeb3d7 input[type="search"].elementor-search-form__input{font-family:"Open Sans", Sans-serif;font-size:14px;letter-spacing:0.21px;}.elementor-52308 .elementor-element.elementor-element-7aaeb3d7 .elementor-search-form__input,
					.elementor-52308 .elementor-element.elementor-element-7aaeb3d7 .elementor-search-form__icon,
					.elementor-52308 .elementor-element.elementor-element-7aaeb3d7 .elementor-lightbox .dialog-lightbox-close-button,
					.elementor-52308 .elementor-element.elementor-element-7aaeb3d7 .elementor-lightbox .dialog-lightbox-close-button:hover,
					.elementor-52308 .elementor-element.elementor-element-7aaeb3d7.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input{color:#383838;}.elementor-52308 .elementor-element.elementor-element-7aaeb3d7:not(.elementor-search-form--skin-full_screen) .elementor-search-form__container{background-color:#ffffff;border-color:#e2e2e2;border-radius:4px;}.elementor-52308 .elementor-element.elementor-element-7aaeb3d7.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input{background-color:#ffffff;border-color:#e2e2e2;border-radius:4px;}.elementor-52308 .elementor-element.elementor-element-7aaeb3d7:not(.elementor-search-form--skin-full_screen) .elementor-search-form--focus .elementor-search-form__input,
					.elementor-52308 .elementor-element.elementor-element-7aaeb3d7 .elementor-search-form--focus .elementor-search-form__icon,
					.elementor-52308 .elementor-element.elementor-element-7aaeb3d7 .elementor-lightbox .dialog-lightbox-close-button:hover,
					.elementor-52308 .elementor-element.elementor-element-7aaeb3d7.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input:focus{color:#3c3950;}.elementor-52308 .elementor-element.elementor-element-7aaeb3d7 > .elementor-widget-container{border-style:solid;border-width:1.5px 1.5px 1.5px 1.5px;border-color:#e2e2e2;border-radius:4px 4px 4px 4px;}@media(max-width:1024px){.elementor-52308 .elementor-element.elementor-element-8a10e0e > .elementor-element-populated{padding:10px 0px 10px 21px;}.elementor-52308 .elementor-element.elementor-element-6e023d4a > .elementor-element-populated{padding:13px 18px 0px 0px;}.elementor-52308 .elementor-element.elementor-element-5e60e488 .elementor-nav-menu--dropdown{font-size:14px;}.elementor-52308 .elementor-element.elementor-element-5e60e488 .elementor-nav-menu--dropdown a{padding-top:10px;padding-bottom:10px;}.elementor-52308 .elementor-element.elementor-element-618cabd4 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 6px;}}@media(min-width:768px){.elementor-52308 .elementor-element.elementor-element-8a10e0e{width:20%;}.elementor-52308 .elementor-element.elementor-element-6e023d4a{width:80%;}.elementor-52308 .elementor-element.elementor-element-687807c3{width:49%;}.elementor-52308 .elementor-element.elementor-element-28749360{width:31%;}.elementor-52308 .elementor-element.elementor-element-66cc4837{width:19.996%;}}@media(max-width:1024px) and (min-width:768px){.elementor-52308 .elementor-element.elementor-element-22c103ab{width:100%;}.elementor-52308 .elementor-element.elementor-element-8a10e0e{width:75%;}.elementor-52308 .elementor-element.elementor-element-6e023d4a{width:25%;}.elementor-52308 .elementor-element.elementor-element-687807c3{width:39%;}.elementor-52308 .elementor-element.elementor-element-28749360{width:29%;}.elementor-52308 .elementor-element.elementor-element-66cc4837{width:31%;}}@media(max-width:767px){.elementor-52308 .elementor-element.elementor-element-8a10e0e{width:75%;}.elementor-52308 .elementor-element.elementor-element-8a10e0e > .elementor-element-populated{padding:10px 0px 10px 20px;}.elementor-52308 .elementor-element.elementor-element-6e023d4a{width:25%;}.elementor-bc-flex-widget .elementor-52308 .elementor-element.elementor-element-6e023d4a.elementor-column .elementor-column-wrap{align-items:center;}.elementor-52308 .elementor-element.elementor-element-6e023d4a.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-52308 .elementor-element.elementor-element-6e023d4a > .elementor-element-populated{padding:0px 15px 0px 0px;}.elementor-52308 .elementor-element.elementor-element-5e60e488 .elementor-nav-menu--dropdown{font-size:14px;}.elementor-52308 .elementor-element.elementor-element-687807c3{width:100%;}.elementor-52308 .elementor-element.elementor-element-687807c3 > .elementor-element-populated{padding:10px 0px 5px 010px;}.elementor-52308 .elementor-element.elementor-element-28749360{width:100%;}.elementor-52308 .elementor-element.elementor-element-28749360 > .elementor-element-populated{padding:05px 20px 5px 20px;}.elementor-52308 .elementor-element.elementor-element-7aaeb3d7 .elementor-search-form__submit{min-width:calc( 1 * 30px );}.elementor-52308 .elementor-element.elementor-element-7aaeb3d7 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-52308 .elementor-element.elementor-element-66cc4837 > .elementor-element-populated{padding:5px 20px 10px 20px;}}/* Start custom CSS for section, class: .elementor-element-300b43b5 */#blog-site-logo img{
    width :165px;
    height: 37px;
}
#detail-page-header-content {
    display: none;
}
#category-section h5 {
    display: none;
}
#home-page-header-content{
    margin-bottom: 0px !important;
}
#home-page-header-content .elementor-button-text{
    margin-bottom: 0px !important;
    font-size: 24px !important;
}

@media (max-width :767px){
#search-box .elementor-widget-container{
width:90%;
}
}
#navigation-menu a{
    cursor: pointer;
}
#detail-page-header-content a {
    padding-left: 10px !important;
}
#home-page-header-content a {
padding-left:6px !important;
}
@media  (min-width: 980px) and (max-width: 1024px){
#navigation-menu .elementor-nav-menu--dropdown a {
   color: #0073dc !important;
   background-color:#f4f6f7 !important;
   padding-top: 13px !important;
}
}
@media (max-width: 768px){
#category-section select{ 
   width :217px !important;
}
#category-section div::after{
    right:0px !important;
    left:188px;
}
}
#category-section select{ 
width:100%;
}
#category-section select{
    padding: 3px 0px 3px 8px !important;
     -webkit-appearance: none;
}
#category-section div::after {
    content: '\e635';
    position: absolute;
    font-size: 22px;
    font-family: thegem-icons;
    right: 7px;
    top: 4px;
    pointer-events: none;
    color: #949494;
}
#popular-post-template .elementor-element-populated{
    padding :13px 0px 0px 0px;
}
#popular-post-template .elementor-post__title a{
vertical-align: text-top !important;
}
@media (max-width :1024px){
#elementor-library-4 .elementor-element-populated , #separator-tag {
display:none !important;
}
.mail-chimp-form .elementor-heading-title {
text-align: center;
}
}
@media (min-width:992px) and (max-width:1024px){
.latest-post {
width :100%;
}
.popular-post{
width :100%;
}
}
@media(max-width: 1024px){
.elementor-widget-container #separator-tag {
    display :block;
}
#custom_html-2 {
margin-top : 20px;
}
}
@media (min-width:768px) and (max-width:1024px){
.popular-post{
margin-top: 0px;
}
}
@media (max-width:767px){
.popular-post {
margin-top: 10px;
}
#search-box .elementor-widget-container{
width:100%;
}
#category-section div::after {
text-align: right;
right: 5px !important;
}
#category-section select{
    width:100% !important;
}
#category-section select {
background-color:#ffffff;
}
}
@media (min-width:1024px){
.latest-post {
padding-top :20px !important;
}
.popular-post{
    padding-top :26px !important;
}
}

/* popular-post related css*/
#popular-post-template .elementor-post__title a:hover{
    color:#0073DC  !important;
}

/* header ambar menu*/
#navigation-menu .eicon-menu-bar{
    color:#fff;
}

/*onesignal notification popup */
#onesignal-popover-container  {
display:none;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-d49f13b *//* category-section */
#category-section h5{
    display: none;
}
#category-section select {
color: #9A9A9A !important;
cursor: pointer;
font-size: 14px !important;
border-radius: 4px;
padding: 5px 0px 6px 6px;
border: 1px solid #E2E2E2;
}
#category-section select option{
font-size: 14px !important;
color :#3c3950;
}/* End custom CSS */