.elementor-52304 .elementor-element.elementor-element-2dfe503a > .elementor-container{max-width:1200px;}.elementor-52304 .elementor-element.elementor-element-2dfe503a{overflow:hidden;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 5px 0px 5px;}.elementor-52304 .elementor-element.elementor-element-2dfe503a:not(.elementor-motion-effects-element-type-background), .elementor-52304 .elementor-element.elementor-element-2dfe503a > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-52304 .elementor-element.elementor-element-2dfe503a > .elementor-background-overlay{background-color:#ffffff;opacity:0.5;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-52304 .elementor-element.elementor-element-6a3a7492 > .elementor-element-populated{margin:80px 0px 0px 0px;}.elementor-52304 .elementor-element.elementor-element-66562bdd:not(.elementor-grid-0) .elementor-grid{grid-column-gap:0px;grid-row-gap:10px;}.elementor-52304 .elementor-element.elementor-element-66562bdd.elementor-grid-0 .elementor-share-btn{margin-right:calc(0px / 2);margin-left:calc(0px / 2);margin-bottom:10px;}.elementor-52304 .elementor-element.elementor-element-66562bdd.elementor-grid-0 .elementor-grid{margin-right:calc(-0px / 2);margin-left:calc(-0px / 2);}.elementor-52304 .elementor-element.elementor-element-66562bdd .elementor-share-btn{font-size:calc(0.95px * 10);}.elementor-52304 .elementor-element.elementor-element-66562bdd .elementor-share-btn__icon i{font-size:2.5em;}.elementor-52304 .elementor-element.elementor-element-66562bdd > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-52304 .elementor-element.elementor-element-66562bdd{width:42px;max-width:42px;top:98px;}body:not(.rtl) .elementor-52304 .elementor-element.elementor-element-66562bdd{left:98px;}body.rtl .elementor-52304 .elementor-element.elementor-element-66562bdd{right:98px;}.elementor-52304 .elementor-element.elementor-element-334dcb36 > .elementor-element-populated{margin:-20px 0px 0px 0px;padding:0px 30px 0px 15px;}.elementor-52304 .elementor-element.elementor-element-43cde4bd{text-align:left;}.elementor-52304 .elementor-element.elementor-element-43cde4bd .elementor-image img{width:100%;}.elementor-52304 .elementor-element.elementor-element-43cde4bd > .elementor-widget-container{margin:35px 0px 0px 0px;}.elementor-52304 .elementor-element.elementor-element-610076e5.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-52304 .elementor-element.elementor-element-610076e5 .elementor-heading-title{font-family:"Open Sans", Sans-serif;font-size:26px;font-weight:bold;letter-spacing:0px;}.elementor-52304 .elementor-element.elementor-element-610076e5 > .elementor-widget-container{margin:-10px 0px 3px 0px;}.elementor-52304 .elementor-element.elementor-element-137d933 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(17px/2);}.elementor-52304 .elementor-element.elementor-element-137d933 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(17px/2);}.elementor-52304 .elementor-element.elementor-element-137d933 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(17px/2);margin-left:calc(17px/2);}.elementor-52304 .elementor-element.elementor-element-137d933 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-17px/2);margin-left:calc(-17px/2);}body.rtl .elementor-52304 .elementor-element.elementor-element-137d933 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-17px/2);}body:not(.rtl) .elementor-52304 .elementor-element.elementor-element-137d933 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-17px/2);}.elementor-52304 .elementor-element.elementor-element-137d933 .elementor-icon-list-item:not(:last-child):after{content:"";border-color:#dddddd;}.elementor-52304 .elementor-element.elementor-element-137d933 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after{border-top-style:solid;border-top-width:1px;}.elementor-52304 .elementor-element.elementor-element-137d933 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after{border-left-style:solid;}.elementor-52304 .elementor-element.elementor-element-137d933 .elementor-inline-items .elementor-icon-list-item:not(:last-child):after{border-left-width:1px;}.elementor-52304 .elementor-element.elementor-element-137d933 .elementor-icon-list-icon{width:15px;}.elementor-52304 .elementor-element.elementor-element-137d933 .elementor-icon-list-icon i{font-size:15px;}.elementor-52304 .elementor-element.elementor-element-137d933 .elementor-icon-list-icon svg{width:15px;}body:not(.rtl) .elementor-52304 .elementor-element.elementor-element-137d933 .elementor-icon-list-text{padding-left:0px;}body.rtl .elementor-52304 .elementor-element.elementor-element-137d933 .elementor-icon-list-text{padding-right:0px;}.elementor-52304 .elementor-element.elementor-element-137d933 .elementor-icon-list-text, .elementor-52304 .elementor-element.elementor-element-137d933 .elementor-icon-list-text a{color:#0d98ff;}.elementor-52304 .elementor-element.elementor-element-137d933 .elementor-icon-list-item{font-family:"Open Sans", Sans-serif;font-size:15px;font-weight:400;text-transform:none;font-style:normal;line-height:18px;}.elementor-52304 .elementor-element.elementor-element-137d933 > .elementor-widget-container{margin:-5px 0px -2px 0px;}.elementor-52304 .elementor-element.elementor-element-2f184f73{text-align:left;color:#3d3d3d;font-family:"Open Sans", Sans-serif;font-size:19px;font-weight:400;line-height:30px;}.elementor-52304 .elementor-element.elementor-element-2f184f73 > .elementor-widget-container{margin:-5px 0px 0px 0px;}.elementor-52304 .elementor-element.elementor-element-678635a3.elementor-widget-heading .elementor-heading-title{color:#3c3950;}.elementor-52304 .elementor-element.elementor-element-678635a3 .elementor-heading-title{font-family:"Open Sans", Sans-serif;font-size:22px;font-weight:600;text-transform:none;font-style:normal;line-height:33px;}.elementor-52304 .elementor-element.elementor-element-678635a3 > .elementor-widget-container{margin:0px 0px -5px 0px;}.elementor-52304 .elementor-element.elementor-element-2fe30544 .elementor-icon-list-icon{width:14px;}.elementor-52304 .elementor-element.elementor-element-2fe30544 .elementor-icon-list-icon i{font-size:14px;}.elementor-52304 .elementor-element.elementor-element-2fe30544 .elementor-icon-list-icon svg{width:14px;}.elementor-52304 .elementor-element.elementor-element-2fe30544 .elementor-icon-list-item{font-family:"Open Sans", Sans-serif;font-size:19px;font-weight:400;font-style:normal;text-decoration:none;line-height:30.4px;}.elementor-52304 .elementor-element.elementor-element-7c72fdb9.elementor-widget-heading .elementor-heading-title{color:#3c3950;}.elementor-52304 .elementor-element.elementor-element-7c72fdb9 .elementor-heading-title{font-family:"Open Sans", Sans-serif;font-size:22px;font-weight:600;text-transform:none;font-style:normal;line-height:33px;}.elementor-52304 .elementor-element.elementor-element-582049c8:not(.elementor-grid-0) .elementor-grid{grid-column-gap:10px;grid-row-gap:0px;}.elementor-52304 .elementor-element.elementor-element-582049c8.elementor-grid-0 .elementor-share-btn{margin-right:calc(10px / 2);margin-left:calc(10px / 2);margin-bottom:0px;}.elementor-52304 .elementor-element.elementor-element-582049c8.elementor-grid-0 .elementor-grid{margin-right:calc(-10px / 2);margin-left:calc(-10px / 2);}.elementor-52304 .elementor-element.elementor-element-3701f7c3 .elementor-author-box__name{color:#3c3950;font-family:"Open Sans", Sans-serif;font-size:19px;font-weight:700;text-transform:uppercase;line-height:30px;letter-spacing:0.95px;}.elementor-52304 .elementor-element.elementor-element-3701f7c3 .elementor-author-box__bio{color:#5f727f;font-family:"Open Sans", Sans-serif;font-size:19px;font-weight:400;font-style:normal;text-decoration:none;line-height:25px;}.elementor-52304 .elementor-element.elementor-element-3701f7c3 .elementor-author-box__button{color:#0073dc;border-color:#0073dc;background-color:rgba(0,0,0,0);font-family:"Open Sans", Sans-serif;font-size:19px;font-weight:400;text-transform:none;font-style:normal;text-decoration:none;padding:0px 0px 0px 0px;}.elementor-52304 .elementor-element.elementor-element-3701f7c3 .elementor-author-box__button:hover{border-color:#0d98ff;color:#0d98ff;}.elementor-52304 .elementor-element.elementor-element-3701f7c3 > .elementor-widget-container{margin:15px 0px -10px 0px;padding:30px 35px 25px 25px;background-color:#f4f6f7;}.elementor-52304 .elementor-element.elementor-element-436704b3 > .elementor-widget-container{margin:0px 0px -20px 0px;}.elementor-52304 .elementor-element.elementor-element-23a2d325.elementor-widget-heading .elementor-heading-title{color:#4a4a4a;}.elementor-52304 .elementor-element.elementor-element-23a2d325 .elementor-heading-title{font-family:"Open Sans", Sans-serif;font-size:18px;font-weight:600;text-transform:none;font-style:normal;text-decoration:none;}.elementor-52304 .elementor-element.elementor-element-23a2d325 > .elementor-widget-container{margin:-5px 0px 0px 0px;}.elementor-52304 .elementor-element.elementor-element-4e5d64db > .elementor-widget-container{margin:0px 0px -10px 0px;}.elementor-52304 .elementor-element.elementor-element-2c813d34{--divider-border-style:solid;--divider-border-color:rgba(219,219,219,0.46);--divider-border-width:2px;}.elementor-52304 .elementor-element.elementor-element-2c813d34 .elementor-divider-separator{width:100%;margin:0 auto;margin-center:0;}.elementor-52304 .elementor-element.elementor-element-2c813d34 .elementor-divider{text-align:center;padding-top:24px;padding-bottom:24px;}.elementor-52304 .elementor-element.elementor-element-8358b75 > .elementor-container{max-width:500px;}.elementor-52304 .elementor-element.elementor-element-8358b75{margin-top:-20px;margin-bottom:25px;}.elementor-52304 .elementor-element.elementor-element-3cc0c6f7 > .elementor-element-populated{margin:-20px 0px 0px 0px;}.elementor-52304 .elementor-element.elementor-element-58ee5a93, .elementor-52304 .elementor-element.elementor-element-58ee5a93 > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-52304 .elementor-element.elementor-element-58ee5a93{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-52304 .elementor-element.elementor-element-4f889e4e > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-52304 .elementor-element.elementor-element-2990cf6 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-52304 .elementor-element.elementor-element-7fea02f1{--divider-border-style:solid;--divider-border-color:rgba(219,219,219,0.46);--divider-border-width:2px;}.elementor-52304 .elementor-element.elementor-element-7fea02f1 .elementor-divider-separator{width:100%;margin:0 auto;margin-center:0;}.elementor-52304 .elementor-element.elementor-element-7fea02f1 .elementor-divider{text-align:center;padding-top:24px;padding-bottom:24px;}.elementor-52304 .elementor-element.elementor-element-5855d26f{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-52304 .elementor-element.elementor-element-6b3f7135 > .elementor-element-populated{margin:5px 10px 5px 10px;padding:0px 0px 0px 0px;}.elementor-52304 .elementor-element.elementor-element-220c7437 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-52304 .elementor-element.elementor-element-33613cdd{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-52304 .elementor-element.elementor-element-6a306b7d > .elementor-element-populated{margin:0px 0px 0px -8px;}.elementor-52304 .elementor-element.elementor-element-7ff5f6eb{--divider-border-style:solid;--divider-border-color:rgba(219,219,219,0.46);--divider-border-width:2px;}.elementor-52304 .elementor-element.elementor-element-7ff5f6eb .elementor-divider-separator{width:100%;margin:0 auto;margin-left:0;}.elementor-52304 .elementor-element.elementor-element-7ff5f6eb .elementor-divider{text-align:left;padding-top:10px;padding-bottom:10px;}.elementor-52304 .elementor-element.elementor-element-7ff5f6eb > .elementor-widget-container{margin:0px -19px 0px 0px;}.elementor-52304 .elementor-element.elementor-element-5cf34ebf.elementor-widget-heading .elementor-heading-title{color:#4a4a4a;}.elementor-52304 .elementor-element.elementor-element-5cf34ebf .elementor-heading-title{font-family:"Open Sans", Sans-serif;font-size:18px;font-weight:700;text-transform:none;font-style:normal;text-decoration:none;}.elementor-52304 .elementor-element.elementor-element-5cf34ebf > .elementor-widget-container{margin:0px 0px 0px 0px;}@media(min-width:768px){.elementor-52304 .elementor-element.elementor-element-7e14c8ab{width:6.083%;}.elementor-52304 .elementor-element.elementor-element-334dcb36{width:68%;}.elementor-52304 .elementor-element.elementor-element-3cc0c6f7{width:33.777%;}}@media(max-width:1024px) and (min-width:768px){.elementor-52304 .elementor-element.elementor-element-334dcb36{width:100%;}.elementor-52304 .elementor-element.elementor-element-3cc0c6f7{width:100%;}}@media(max-width:1024px){.elementor-52304 .elementor-element.elementor-element-2dfe503a{padding:0px 25px 0px 25px;} .elementor-52304 .elementor-element.elementor-element-66562bdd.elementor-grid-tablet-0 .elementor-share-btn{margin-right:calc(0px / 2);margin-left:calc(0px / 2);margin-bottom:10px;} .elementor-52304 .elementor-element.elementor-element-66562bdd.elementor-grid-tablet-0 .elementor-grid{margin-right:calc(-0px / 2);margin-left:calc(-0px / 2);}.elementor-52304 .elementor-element.elementor-element-334dcb36 > .elementor-element-populated{padding:0px 0px 0px 0px;} .elementor-52304 .elementor-element.elementor-element-582049c8.elementor-grid-tablet-0 .elementor-share-btn{margin-right:calc(10px / 2);margin-left:calc(10px / 2);margin-bottom:0px;} .elementor-52304 .elementor-element.elementor-element-582049c8.elementor-grid-tablet-0 .elementor-grid{margin-right:calc(-10px / 2);margin-left:calc(-10px / 2);}}@media(max-width:767px){ .elementor-52304 .elementor-element.elementor-element-66562bdd.elementor-grid-mobile-0 .elementor-share-btn{margin-right:calc(0px / 2);margin-left:calc(0px / 2);margin-bottom:10px;} .elementor-52304 .elementor-element.elementor-element-66562bdd.elementor-grid-mobile-0 .elementor-grid{margin-right:calc(-0px / 2);margin-left:calc(-0px / 2);} .elementor-52304 .elementor-element.elementor-element-582049c8.elementor-grid-mobile-0 .elementor-share-btn{margin-right:calc(10px / 2);margin-left:calc(10px / 2);margin-bottom:0px;} .elementor-52304 .elementor-element.elementor-element-582049c8.elementor-grid-mobile-0 .elementor-grid{margin-right:calc(-10px / 2);margin-left:calc(-10px / 2);}}/* Start custom CSS for share-buttons, class: .elementor-element-66562bdd */.elementor-widget-share-buttons {
    left: auto !important;
    top: auto !important;
    margin-top: 15px;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-8358b75 */#RSSFeed{
     cursor: pointer;
}
.custom-element-button{
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.01px;
    color: #ff7e25;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    width: 100%;
    display: inline-block;
    line-height: 1;
    text-align: center;
    transition: all 0.3s;
    padding: 10px 20px;
       
}
#rss-btn-text {
    padding-right: 8px;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-4f889e4e */#es-free-trial-section {
    margin-top: 20px;
    
}
#es-free-trial-section  .elementor-column-wrap {
        padding-left: 0;
}
#es-free-trial-section  img {
      margin-bottom: 0;
          padding: 5px;
    padding-left: 0;
    padding-right: 10px;
}/* End custom CSS */
/* Start custom CSS for divider, class: .elementor-element-7fea02f1 */#custom-divider 
 .elementor-divider {
     margin-right: 10px;
}/* End custom CSS */
/* Start custom CSS for divider, class: .elementor-element-7ff5f6eb */#custom-divider-above-popular .elementor-divider {
    margin-right: 10px;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-2dfe503a */#post-details ul li {
margin-left :3px !important;
}
#post-details ul li .elementor-post-info__item--type-date {
color:#3D3D3D !important;
}
#post-details .elementor-icon-list-icon i {
   display :block;
   color:#99a9b5 !important;
   padding-right: 10px
}
#post-details .elementor-icon-list-text {
    padding-left: 7px !important;
}
#post-details .elementor-post-info__item--type-comments{
    color:#3D3D3D;
}
#post-details .elementor-post-info__item--type-author{
    color: #0273DC;
}
#post-details .elementor-post-info__item--type-comments:hover{
    color:#0d98ff;
}

#post-details .elementor-post-info__item--type-author:hover{
    color:#0d98ff;
}

#post-details .elementor-icon-list-icon{
    display: none;
}
#detail-page table {
      table-layout: fixed;
    width: 100%;
}
#detail-page table td{
      word-wrap: break-word;
}
#page-content textarea{
    display: none;
}
#page-content p a {
    overflow-wrap: break-word;
}
#popular-post .elementor-element-populated {
    padding: 0px;
}
#popular-now{
    margin-bottom: 15px;
}

#detail-page-tags .elementor-icon-list-text a {
    color:#0073dc;
}
#detail-page-tags .elementor-icon-list-text a:hover {
    text-decoration: underline;
}
 #detail-page-tags ul {
margin-left :-18px;
}

#page-content ul ul {
 padding-left: 40px;   
}

#page-content ul ol {
 padding-left: 40px;   
}

#page-content ol ul {
 padding-left: 40px;   
}

#page-content ol ol {
 padding-left: 40px;   
}

#author-section .elementor-author-box__button{
border :none;
}
#author-section .elementor-author-box__button:before {
    content: '\e601';
    font-family: 'thegem-icons';
    font-weight: normal;
    font-size: 16px;
}
#comments-section input[type="text"] {
    background-color: #f4f6f7 !important;
      border: 1px solid #dfe5e8;
}

#comments-section input.error{
    border: 1px solid #FF0000 !important;
}

#comments-section div.error {
    font-size: 12px;
}
#page-content figure {
text-align: center;
margin: auto;
}
#page-content figcaption {
color:#a0a0a0;
font-size:15.485px;
line-height:25px;
}
#page-content figure img, #page-content img{
max-width: 75%;
border:1px solid #C0C0C0;
-webkit-box-shadow: 10px 10px 5px #ccc;
}
#detail-page .elementor-widget-social-icons {
    width: 30px;
    position: fixed;
    bottom: 5px;
    left: 5px;
}
#comments-section .comment-inner:before {
display:none;
}

.margin-bottom-reducer{
    margin-bottom: 0px !important
}
.mail-chimp-form .elementor-element-populated{
    padding: 0px;
}
@media(max-width:599px){
#author-section .elementor-author-box {
display :block !important;
}
}
#author-section .ementor-author-box img{
padding: 0px 0px 10px 0px;
}
#author-section .elementor-author-box__text{
padding: 20px 0px 0px 10px;
}
#popular-post-template .elementor-element-populated{
padding :0px;
}
@media (max-width: 360px){
#popular-post-template .elementor-post__title a{
font-size :11px !important;
line-height: 10px !important;
}}
#rss-feed-icon .elementor-button-text {
padding-right :10px;
}
#rss-feed-icon .elementor-button-content-wrapper {
display :inline-block;
}
#comments-section #reply-title .light {
font-weight :700 !important;
}
/* header name change for home page and detail page */
#detail-page-header-content {
    display: block;
}
#home-page-header-content{
    display:none;
}
#social-icon {
    position: absolute;
    left: -52px;
}
@media (min-width:1265px){
#social-icon {
    position: absolute;
    left: -75px;
}
}
@media (min-width:1024px) and (max-width:1280px){
#detail-page-column .elementor-element-populated {
padding-left : 60px !important;
}
#social-icon-inner-column .elementor-widget-wrap{
    left: 38px !important;
}
}
@media(min-width:1025px){
.mail-chimp-form .elementor-element-populated{
padding-left :0px !important;
}
}

/* comment section*/
#comment-form-sucess-response{
    font-size: 12px;
    font-family: "Open Sans", Sans-serif;
    line-height: 16px;
    letter-spacing: normal;
    border-left: 3px solid;
    padding: 10px 20px;
    width: 100%;
	display:none;
}
.elementor-message-success{
	color: #4F8A10;
    background-color: #DFF2BF;
}
.elementor-message-danger {
   color: #721c24 !important;
    background-color: #f8d7da !important;
 
}

#ajax-waiting{
	margin-left:10px;
	display:none;
}
.show{
	display:block !important;
}
.hide{
	display:none !important;
}
.comment-form-sucess-response-fadeOut{
  opacity : 0;
  height : 0;
 transition: opacity 1s ease-out;
}
.fa.fa-refresh:before {
    content: "\f021";
}


/* popular-post-template*/

#popular-post .elementor-post__title a:hover{
    color:#0073DC  !important;
}


.elementor-share-btn_twitter,.elementor-share-btn_facebook,.elementor-share-btn_linkedin{
     background-color: #3F3F3F !important
}


 .elementor-share-btn_twitter:hover {
    background-color: #1da1f2 !important;
}
 .elementor-share-btn_facebook:hover{
    background-color: #3b5998 !important
}
.elementor-share-btn_linkedin:hover {
background-color: #006097 !important;
}
/*comment-text*/
.comment-text p{
        overflow-wrap: break-word;
}/* End custom CSS */